.breadcrumb {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-50);
    @media (max-width: 767px) {
        height: 36px;
    }
    .breadcrumb__link {
        display: flex;
        gap: 6px;
        color: var(--neutral-500);
        font-weight: 500;
        font-size: 16px;
        @media (max-width: 767px) {
            font-size: 12px;
        }
        a {
            color: var(--neutral-500);
            transition: all 0.3s ease; 
            &:hover {
                color: var(--brand-500);
            }
        }
        p {
            color: var(--brand-500);
        }
        
    }
}