:root {
    //brand
    --brand-50: #f2f0ee;
    --brand-100: #d5d0cc;
    --brand-200: #c1b9b3;
    --brand-300: #a59890;
    --brand-400: #93857a;
    --brand-500: #786659;
    --brand-600: #6d5d51;
    --brand-700: #55483f;
    --brand-800: #423831;
    --brand-900: #f2f0ee;
    // neutral
    --neutral-50: #f3f4f5;
    --neutral-100: #dbdde1;
    --neutral-200: #c9cdd2;
    --neutral-300: #b1b6be;
    --neutral-400: #a1a8b1;
    --neutral-500: #8a929e;
    --neutral-600: #7e8590;
    --neutral-700: #626870;
    --neutral-800: #4c5057;
    --neutral-900: #3a3d42;

    --secondary: #f78764    ;
    --success: #070807;
    --warning: #ffc400;
    --error: #ff3b30;
    --white: #fff;
    --text: #2a2a2a;
    --text-inactive: #b5b6b9;
    --bg-primary: #786659;
    --bg-secondary: #fafbfc;
    --bg-tertiary: #f2f3f5;
    --shadow: 8px 2px 6px rgba(0, 0, 0, 0.06);
}

@font-face {
    font-family: 'SVN-Gotham Rounded';
    src: url('../../fonts/SVN-Gotham-Rounded-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SVN-Gotham Rounded';
    src: url('../../fonts/SVN-Gotham-Rounded-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SVN-Gotham Rounded';
    src: url('../../fonts/SVN-Gotham-Rounded-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SVN-Gotham Rounded';
    src: url('../../fonts/SVN-Gotham-Rounded-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/***** Start Reset CSS *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
}

body {
    font-family: "SVN-Gotham Rounded";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text);
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    transition: all 0.3s ease;
    &.link {
        &:hover {
            color: var(--secondary) !important;
        }
    }
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.wrapper {
    overflow: hidden;
}

.pt-120 {
    padding-top: 120px;
}
.pb-120 {
    padding-bottom: 120px;
}

.main {
    margin-top: 80px;
}

.btn {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 32px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &.btn--primary {
        background-color: var(--bg-primary);
        &:hover {
            color: var(--white);
        }
    }
    &.btn--red {
        background-color: var(--error);
        &:hover {
            color: var(--white);
        }
    }
    &.btn--blue {
        background-color: #3b5998;
        &:hover {
            color: var(--white);
        }
    }
    &.btn--full {
        display: block;
    }
    &:hover {
        opacity: 0.8;
    }
}

input[type="text"], input[type="password"] {
    border: 1px solid var(--bg-tertiary);
    width: 100%;
    height: 60px;
    padding-left: 24px;
    border-radius: 4px;
    font-size: 16px;
}

input, select {
    outline: none;
    font-family: "SVN-Gotham Rounded";
}

::placeholder {
    font-size: 16px;
    color: var(--text-inactive);
    font-family: "SVN-Gotham Rounded";
}

.list__cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .card {
        width: calc((100% - 90px) / 4);
        border-radius: 4px;
        &:hover {
            .card__name {
                color: var(--secondary);
            }
        }
        &.feedback {
            &:hover {
                .card__name {
                    color: var(--text);
                }
            }
            .card__bg {
                border: 1px solid var(--neutral-100);
                border-top: transparent;
            }
            .card__img {
                img {
                    &:hover {
                        transform: scale(1);
                    }
                }
            }
        }
        .card__bg {
            // background-color: var(--bg-secondary);
            padding: 24px;
            margin-top: -7px;
            &.card__bg--blog {
                padding: 0;
                padding-top: 16px;
                margin-top: 0;
                .card__name {
                    margin-top: -10px;
                }
                .card__info {
                    display: flex;
                    gap: 6px;
                    justify-content: flex-start;
                }
            }
            .card__info {
                margin-bottom: 16px;
                .card__blog--circle {
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: var(--neutral-500);
                }
                .card__blog--title {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--neutral-500);
                }
                .card__name {
                    margin: 0;
                }
            }
        }
        .card__img {
            position: relative;
            line-height: 0;
            overflow: hidden;
            border-radius: 4px;
            .card__img--sale {
                position: absolute;
                background-color: var(--secondary);
                color: var(--white);
                right: 0;
                top: 24px;
                padding: 8px 36px;
                line-height: 1.5;
                border-radius: 2px;
            }
            img {
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
        .card__text {
            color: #757575;
            min-height: 72px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        .card__name {
            margin: 10px 0;
            font-size: 18px;
            font-weight: 500;
            &.title {
                font-size: 20px;
                margin: 0;
            }
        }
        .card__view {
            margin-top: 16px;
            font-size: 12px;
            font-weight: 500;
            color: var(--neutral-500);
        }
        .card__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:last-child {
                margin-top: 10px;
            }
            .card__name {
                height: 24px;
            }
            .card-user {
                display: flex;
                align-items: center;
                gap: 10px;
                .card-user__img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }
            }
            .card__info--price {
                display: flex;
                align-items: center;
                gap: 6px;
                .price__new {
                    color: var(--primary);
                    font-size: 18px;
                    font-weight: 500;
                }
                .price__old {
                    color: var(--text-inactive);
                    font-size: 13px;
                    font-weight: 500;
                    text-decoration: line-through;
                }
                .price__underline {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }
            .card__info--icon {
                cursor: pointer;
                i {
                    font-size: 20px;
                }
            }
            .card__info--rate {
                display: flex;
                align-items: center;
                gap: 8px;
                i {
                    color: var(--secondary);
                }
                .rate__times {
                    font-weight: 500;
                    color: var(--text-inactive);
                }
                .rate__star {
                    font-size: 18px;
                    line-height: 1;
                    margin-right: -4px;
                }
            }
            .card__info--sold {
                color: var(--text-inactive);
            }
            .card__time {
                margin-top: 0;
            }
        }
        .card__time {
            font-size: 14px;
            color: var(--neutral-500);
            margin-top: 12px;
            font-weight: 500;
            display: flex;
            justify-content: flex-start;
            gap: 8px;
        }
        .card__btn {
            font-size: 13px;
            font-weight: 500;
            color: #7b6b43;
            line-height: 1;
        }
    }
}
.mt-12 {
    margin-top: 12px;
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}