.login {
  width: 720px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}
.login .login__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}
.login .login__text {
  font-size: 18px;
  margin-bottom: 60px;
}
.login .login__text.limit {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}
.login .login__text.green {
  color: var(--success);
  margin-left: auto;
  margin-right: auto;
}
.login .login__input {
  margin-top: 36px;
}
.login .login__input:first-child {
  margin-top: 0;
}
.login .login__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.login .login__list .login__input {
  margin: 0;
}
.login .login__list .login__input input[type=text], .login .login__list .login__input input[type=number] {
  width: 72px;
  height: 72px;
  border: 1px solid var(--neutral-100);
  font-size: 28px;
  padding-left: 28px;
}
.login .login__pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}
.login .login__pass .login__pass--save {
  display: flex;
  align-items: center;
  gap: 10px;
}
.login .login__pass .login__pass--save input {
  width: 24px;
  height: 24px;
}
.login .login__pass .login__pass--forget a {
  transition: all 0.3s ease;
}
.login .login__pass .login__pass--forget a:hover {
  text-decoration: underline;
}
.login .login__pass span {
  font-weight: 500;
}
.login .login__signup {
  font-size: 18px;
  font-weight: 500;
  margin: 36px 0;
}
.login .login__signup a {
  color: var(--brand-500);
}
.login .login__or {
  font-size: 18px;
  color: var(--neutral-500);
}
.login .login__btn {
  display: flex;
  margin-top: 36px;
  gap: 36px;
}
.login .login__btn .btn {
  width: 100%;
}

.home {
  height: 100%;
}
.home .home__section .home__section--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.home .home__section .home__section--header h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.home .home__section .home__section--header a {
  color: var(--secondary-500);
  font-weight: 500;
  transition: all 0.3s ease;
}
.home .home__section .home__section--header a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.home .home__section .home__support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-image: url(../image/banner2.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 600px;
}
.home .home__section .home__support .home__support--left h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--brand-500);
}
.home .home__section .home__support .home__support--left p {
  font-size: 18px;
}
.home .home__section .home__support .home__support--right {
  width: 360px;
}
.home .home__section .home__support .home__support--right .support__form {
  margin-bottom: 16px;
}
.home .home__section .home__support .home__support--right .support__form input {
  height: 48px;
}
.home .hero {
  background-image: url("../image/hero.png");
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
.home .hero .hero__content {
  width: 50%;
}
.home .hero .hero__content .hero__content--title {
  margin-bottom: 36px;
}
.home .hero .hero__content .hero__content--text {
  max-width: 600px;
  margin-bottom: 48px;
  color: var(--text);
}
.home .hero .hero__content .hero__content--btn {
  background: var(--brand-500);
  font-size: 18px;
}
.home .home__banner {
  background-image: url(../image/banner.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
  height: 500px;
}

.products-page {
  padding: 60px 0 90px 0;
}
.products-page .products-page--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.products-page .products-page--header .header--title {
  color: var(--text);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}
.products-page .products-page--header .header--select {
  padding: 16px 24px;
  width: 330px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--neutral-100);
}
.products-page .products-page--header .header--select option {
  max-width: inherit;
}
.products-page .products-page--filter {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
  padding-bottom: 30px;
}
.products-page .products-page--filter .filter--select {
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--neutral-100);
}
.products-page .products-page--empty {
  color: var(--neutral-500);
  font-size: 18px;
  text-align: center;
  margin-top: 70px;
}
.products-page .pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.products-page .pagination .pagination--item {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-500);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.products-page .pagination .pagination--item.active {
  color: var(--secondary-500);
}
.products-page .pagination .pagination--item:hover {
  color: var(--secondary-500);
}

.product-detail {
  padding: 60px 0 90px 0;
}
.product-detail .product-detail__overview {
  display: flex;
  gap: 30px;
}
.product-detail .product-detail__overview .overview__preview {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 90px;
}
.product-detail .product-detail__overview .overview__preview img {
  width: 100%;
  height: 90px;
  border-radius: 6px;
  cursor: pointer;
}
.product-detail .product-detail__overview .overview__preview img.active {
  border: 3px solid var(--secondary);
}
.product-detail .product-detail__overview .overview__main {
  min-width: 690px;
  height: 690px;
}
.product-detail .product-detail__overview .overview__main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-detail .product-detail__overview .overview__info .info__title {
  font-size: 30px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 30px;
}
.product-detail .product-detail__overview .overview__info .info__rate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.product-detail .product-detail__overview .overview__info .info__rate .rate--star {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-detail .product-detail__overview .overview__info .info__rate .rate--star i {
  color: var(--secondary-500);
}
.product-detail .product-detail__overview .overview__info .info__rate .rate--star .rate__times {
  font-weight: 500;
  color: var(--text-inactive);
}
.product-detail .product-detail__overview .overview__info .info__rate .rate--buy {
  color: var(--text);
  font-size: 16px;
}
.product-detail .product-detail__overview .overview__info .info--key {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.product-detail .product-detail__overview .overview__info .info--key span {
  font-weight: 400;
  font-size: 14px;
}
.product-detail .product-detail__overview .overview__info .info--line {
  margin: 30px 0;
  width: 100%;
  height: 1px;
  background: var(--neutral-100);
}
.product-detail .product-detail__overview .overview__info .info--price {
  display: flex;
  align-items: center;
  gap: 6px;
}
.product-detail .product-detail__overview .overview__info .info--price .price__new {
  color: var(--brand-500);
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}
.product-detail .product-detail__overview .overview__info .info--price .price__old {
  color: var(--text-inactive);
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
  line-height: 1;
}
.product-detail .product-detail__overview .overview__info .info--color .color--title {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.product-detail .product-detail__overview .overview__info .info--color .color--title span {
  font-weight: 400;
  font-size: 14px;
}
.product-detail .product-detail__overview .overview__info .info--color .color-picker {
  display: flex;
  gap: 16px;
}
.product-detail .product-detail__overview .overview__info .info--color .color-picker .color-picker--type {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
.product-detail .product-detail__overview .overview__info .info--color .color-picker .color-picker--type:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product-detail .product-detail__overview .overview__info .info--color .color-picker .color-picker--type.first {
  border: 2px solid #ECE3DD;
}
.product-detail .product-detail__overview .overview__info .info--color .color-picker .color-picker--type.first:before {
  background-color: #ECE3DD;
}
.product-detail .product-detail__overview .overview__info .info--color .color-picker .color-picker--type.second:before {
  background-color: #635656;
}
.product-detail .product-detail__overview .overview__info .info--color .color-picker .color-picker--type.third:before {
  background-color: #000080;
}
.product-detail .product-detail__overview .overview__info .info--size {
  display: flex;
  gap: 12px;
}
.product-detail .product-detail__overview .overview__info .info--size.mb-16 {
  margin-bottom: 16px;
}
.product-detail .product-detail__overview .overview__info .info--size .size--title {
  font-size: 16px;
  color: var(--text);
  font-weight: 500;
}
.product-detail .product-detail__overview .overview__info .info--size .size--content {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--text);
}
.product-detail .product-detail__overview .overview__info .info--size .size--content .content--dot {
  width: 4px;
  height: 4px;
  background-color: var(--text);
  border-radius: 50%;
  margin: 0 8px;
}
.product-detail .product-detail__overview .overview__info .info--quantity {
  display: flex;
  margin-bottom: 60px;
}
.product-detail .product-detail__overview .overview__info .info--quantity .quantity {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  cursor: pointer;
}
.product-detail .product-detail__overview .overview__info .info--quantity .quantity:nth-child(1) {
  border-radius: 6px 0px 0px 6px;
  background-color: var(--neutral-100);
}
.product-detail .product-detail__overview .overview__info .info--quantity .quantity:nth-child(3) {
  border-radius: 0px 6px 6px 0px;
  background-color: var(--neutral-100);
}
.product-detail .product-detail__overview .overview__info .btn-rounded {
  margin-top: 12px;
  margin-bottom: 60px;
}
.product-detail .product-detail__overview .overview__info .btn {
  width: 100%;
}
.product-detail .product-detail__overview .overview__info .info--policy .policy {
  padding-left: 24px;
  position: relative;
  font-size: 15px;
}
.product-detail .product-detail__overview .overview__info .info--policy .policy:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text);
  top: 10px;
  left: 10px;
}
.product-detail .product-detail__overview .overview__info .info--policy .policy span {
  font-weight: 500;
}
.product-detail .product-detail__overview .overview__info .info--policy .policy.mb-30 {
  margin-bottom: 30px;
}
.product-detail .product-detail__overview .overview__info .info--policy .policy--note {
  font-size: 15px;
}
.product-detail .product-detail--info {
  padding-top: 60px;
}
.product-detail .product-detail--info .info--title {
  font-size: 30px;
  font-weight: 600;
}
.product-detail .product-detail--info .info--content {
  margin-top: 30px;
}
.product-detail .product-detail--info .info--image {
  border-radius: 2px;
  margin-top: 36px;
}
.product-detail .product-detail--info .info--list-images {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
  margin: 30px 0;
}
.product-detail .product-detail--info .info--list-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 2px;
}
.product-detail .product-detail--related .related--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.product-detail .product-detail--related .related--title h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.product-detail .product-detail--related .related--title a {
  color: var(--secondary-500);
  font-weight: 500;
  transition: all 0.3s ease;
}
.product-detail .product-detail--related .related--title a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.cart {
  padding: 60px 0 90px 0;
}
.cart .cart__title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 60px;
}
.cart .cart__content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.cart .cart__content .cart__content--left {
  min-width: 870px;
  padding: 24px;
  border: 1px solid var(--neutral-100);
  border-radius: 6px;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--title {
  font-size: 18px;
  margin-bottom: 30px;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--title span {
  font-weight: 500;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order:not(:last-child) {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--neutral-100);
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--img {
  width: 120px;
  height: 120px;
  border-radius: 2px;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--content .content__title {
  text-transform: uppercase;
  font-weight: 500;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--content .content__desc {
  font-size: 14px;
  color: var(--neutral-500);
  text-transform: uppercase;
  margin-top: -16px;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--content .content__info {
  display: flex;
  gap: 24px;
  align-items: center;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--content .content__info .content__info--quantity {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--neutral-200);
  border-radius: 2px;
  font-weight: 500;
  letter-spacing: 0.032px;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--content .content__info .content__info--price {
  display: flex;
  gap: 6px;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--content .content__info .content__info--price .price__new {
  font-size: 18px;
  font-weight: 500;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__left .order__left--content .content__info .content__info--price .price__old {
  font-size: 13px;
  font-weight: 500;
  color: var(--neutral-500);
  text-decoration: line-through;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__right {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__right:hover {
  transform: scale(1.15);
}
.cart .cart__content .cart__content--left .cart__products .cart__products--order .order__right i {
  transition: all 0.3s ease;
  font-size: 14px;
  color: var(--neutral-500);
}
.cart .cart__content .cart__content--right {
  flex-grow: 1;
}
.cart .cart__content .cart__content--right .cart__info {
  padding: 24px;
  border: 1px solid var(--neutral-100);
  border-radius: 6px;
  margin-bottom: 60px;
}
.cart .cart__content .cart__content--right .cart__info .cart__content--title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--neutral-100);
}
.cart .cart__content .cart__content--right .cart__info .cart__content--total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--neutral-100);
}
.cart .cart__content .cart__content--right .cart__info .cart__content--total .total__title {
  font-size: 18px;
  text-transform: uppercase;
}
.cart .cart__content .cart__content--right .cart__info .cart__content--total .total__price {
  font-size: 24px;
  font-weight: 700;
  color: var(--brand-500);
}
.cart .cart__content .cart__content--right .cart__info .btn-rounded {
  margin-top: 16px;
}
.cart .cart__content .cart__content--right .cart__info .btn {
  width: 100%;
}
.cart .cart__content .cart__content--right .info--policy .policy {
  padding-left: 24px;
  position: relative;
  font-size: 15px;
}
.cart .cart__content .cart__content--right .info--policy .policy:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text);
  top: 10px;
  left: 10px;
}
.cart .cart__content .cart__content--right .info--policy .policy span {
  font-weight: 500;
}
.cart .cart__content .cart__content--right .info--policy .policy.mb-30 {
  margin-bottom: 30px;
}
.cart .cart__content .cart__content--right .info--policy .policy--note {
  font-size: 15px;
}

.payment {
  padding: 90px 0;
}
.payment .payment__title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 60px;
}
.payment .payment__content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.payment .payment__content .payment__content--left {
  min-width: 810px;
}
.payment .payment__content .payment__content--left .payment__deliver {
  border: 1px solid var(--neutral-100);
  padding: 16px 24px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
}
.payment .payment__content .payment__content--left .payment__deliver .payment__deliver--info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment .payment__content .payment__content--left .payment__deliver .payment__deliver--info .info--title {
  font-weight: 500;
  margin-bottom: 6px;
}
.payment .payment__content .payment__content--left .payment__deliver .payment__deliver--info .info--desc {
  font-size: 12px;
  color: var(--neutral-500);
}
.payment .payment__content .payment__content--left .payment__deliver .payment__deliver--info .info--price {
  font-weight: 500;
}
.payment .payment__content .payment__content--left .payment__deliver .payment__deliver--btn {
  font-weight: 500;
  color: var(--info-500);
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}
.payment .payment__content .payment__content--left .payment__deliver .payment__deliver--btn:hover {
  text-decoration: underline;
}
.payment .payment__content .payment__content--left .payment__method {
  margin-top: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  border: 1px solid var(--neutral-100);
  border-radius: 6px;
  cursor: pointer;
}
.payment .payment__content .payment__content--left .payment__method.active {
  cursor: default;
  border-color: var(--brand-500);
}
.payment .payment__content .payment__content--left .payment__method.active .payment__method--dot {
  border: 2px solid var(--brand-500);
  position: relative;
}
.payment .payment__content .payment__content--left .payment__method.active .payment__method--dot:before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--brand-500);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.payment .payment__content .payment__content--left .payment__method .payment__method--dot {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid var(--neutral-100);
}
.payment .payment__content .payment__content--left .payment__method .payment__method--content .content__title {
  font-weight: 500;
  margin-bottom: 8px;
}
.payment .payment__content .payment__content--left .payment__method .payment__method--content .content__subtitle {
  font-size: 12px;
}
.payment .payment__content .payment__content--left .payment__button {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.payment .payment__content .payment__content--left .payment__button .btn {
  width: 100%;
}
.payment .payment__content .payment__content--right {
  flex-grow: 1;
}
.payment .payment__content .payment__content--right .cart__products--order {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}
.payment .payment__content .payment__content--right .cart__products--order:not(:nth-child(2)) {
  margin-bottom: 30px;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--img {
  width: 120px;
  height: 120px;
  border-radius: 2px;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--content .content__title {
  text-transform: uppercase;
  font-weight: 500;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--content .content__desc {
  font-size: 14px;
  color: var(--neutral-500);
  text-transform: uppercase;
  margin-top: -16px;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--content .content__info {
  display: flex;
  gap: 24px;
  align-items: center;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--content .content__info .content__info--quantity {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--neutral-200);
  border-radius: 2px;
  font-weight: 500;
  letter-spacing: 0.032px;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--content .content__info .content__info--price {
  display: flex;
  gap: 6px;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--content .content__info .content__info--price .price__new {
  font-size: 18px;
  font-weight: 500;
}
.payment .payment__content .payment__content--right .cart__products--order .order__left .order__left--content .content__info .content__info--price .price__old {
  font-size: 13px;
  font-weight: 500;
  color: var(--neutral-500);
  text-decoration: line-through;
}
.payment .payment__content .payment__content--right .cart__products--order .order__right {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.payment .payment__content .payment__content--right .cart__products--order .order__right:hover {
  transform: scale(1.15);
}
.payment .payment__content .payment__content--right .cart__products--order .order__right i {
  transition: all 0.3s ease;
  font-size: 14px;
  color: var(--neutral-500);
}
.payment .payment__content .payment__content--right .payment__discount {
  display: flex;
  gap: 16px;
}
.payment .payment__content .payment__content--right .payment__discount-detail {
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.payment .payment__content .payment__content--right .payment__discount-detail .detail__text {
  font-weight: 500;
  color: var(--info-500);
}
.payment .payment__content .payment__content--right .payment__discount-wrap {
  margin: 16px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment .payment__content .payment__content--right .payment__discount-wrap .discount__tag {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  background: var(--info-50);
  border-radius: 6px;
}
.payment .payment__content .payment__content--right .payment__discount-wrap .discount__tag .discount__tag--title {
  font-weight: 500;
  letter-spacing: 0.032px;
  color: var(--info-500);
}
.payment .payment__content .payment__content--right .payment__discount-wrap .discount__tag img {
  width: 28px;
  height: 28px;
  margin-top: 4px;
}
.payment .payment__content .payment__content--right .payment__discount-wrap .discount__tag i {
  font-size: 24px;
  color: var(--neutral-500);
  cursor: pointer;
}
.payment .payment__content .payment__content--right .payment__user {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--neutral-100);
  border-radius: 6px;
  margin-bottom: 30px;
}
.payment .payment__content .payment__content--right .payment__user .payment__user--avatar {
  width: 60px;
  height: 60px;
}
.payment .payment__content .payment__content--right .payment__user .payment__user--avatar img {
  width: 100%;
  height: 100%;
}
.payment .payment__content .payment__content--right .payment__user .payment__user--info .info__name {
  font-size: 20px;
  font-weight: 500;
}
.payment .payment__content .payment__content--right .payment__user .payment__user--info .info__desc {
  display: flex;
  align-items: center;
  gap: 6px;
}
.payment .payment__content .payment__content--right .payment__user .payment__user--info .info__desc span {
  width: 4px;
  height: 4px;
  background: var(--text);
  border-radius: 50%;
}
.payment .payment__content .payment__content--right .payment__cash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.payment .payment__content .payment__content--right .payment__cash .payment__cash--price {
  font-weight: 500;
}
.payment .payment__content .payment__content--right .payment__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid var(--neutral-100);
}
.payment .payment__content .payment__content--right .payment__total .payment__total--title {
  font-weight: 500;
  font-size: 20px;
}
.payment .payment__content .payment__content--right .payment__total .payment__total--price {
  font-size: 30px;
  font-weight: 700;
  color: var(--brand-500);
}
.payment .payment__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.payment .payment__input {
  width: 100%;
}
.payment .payment__wrap-input {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.payment .payment__wrap-input .payment__input {
  margin-bottom: 0;
}
.payment .payment__wrap-input select {
  border: 1px solid var(--neutral-100);
  width: 100%;
  height: 48px;
  padding-left: 24px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-inactive);
}
.payment .payment__wrap-input select.active {
  color: var(--text);
}
.payment .payment__wrap-input select option {
  color: var(--text);
}
.payment .payment__input {
  margin-bottom: 16px;
}
.payment .payment-box {
  margin-bottom: 30px;
}

.overlay__deliver, .overlay__discount, .overlay__success {
  width: 100%;
  height: 100vh;
  z-index: 999999999;
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.overlay__deliver.overlay__discount .content__select, .overlay__discount.overlay__discount .content__select, .overlay__success.overlay__discount .content__select {
  justify-content: flex-start !important;
}
.overlay__deliver.overlay__discount .content__select--button, .overlay__discount.overlay__discount .content__select--button, .overlay__success.overlay__discount .content__select--button {
  margin-right: 0;
  margin-left: auto;
}
.overlay__deliver.active, .overlay__discount.active, .overlay__success.active {
  opacity: 1;
  visibility: visible;
}
.overlay__deliver .overlay, .overlay__discount .overlay, .overlay__success .overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.overlay__deliver .success, .overlay__discount .success, .overlay__success .success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 570px;
  border-radius: 6px;
  padding: 24px;
  padding-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.overlay__deliver .success img, .overlay__discount .success img, .overlay__success .success img {
  margin-bottom: 30px;
}
.overlay__deliver .success .success__title, .overlay__discount .success .success__title, .overlay__success .success .success__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 48px;
}
.overlay__deliver .success .success__button, .overlay__discount .success .success__button, .overlay__success .success .success__button {
  display: flex;
  gap: 30px;
}
.overlay__deliver .overlay__deliver--content, .overlay__discount .overlay__deliver--content, .overlay__success .overlay__deliver--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  background: white;
  width: 570px;
  border-radius: 6px;
}
.overlay__deliver .overlay__deliver--content .content__title, .overlay__discount .overlay__deliver--content .content__title, .overlay__success .overlay__deliver--content .content__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--neutral-100);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.overlay__deliver .overlay__deliver--content .content__title i, .overlay__discount .overlay__deliver--content .content__title i, .overlay__success .overlay__deliver--content .content__title i {
  color: var(--neutral-100);
  cursor: pointer;
}
.overlay__deliver .overlay__deliver--content .content__select, .overlay__discount .overlay__deliver--content .content__select, .overlay__success .overlay__deliver--content .content__select {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background: var(--neutral-50);
  border-radius: 2px;
  margin-bottom: 16px;
}
.overlay__deliver .overlay__deliver--content .content__select:last-child, .overlay__discount .overlay__deliver--content .content__select:last-child, .overlay__success .overlay__deliver--content .content__select:last-child {
  margin-bottom: 0;
}
.overlay__deliver .overlay__deliver--content .content__select .content__select--info .info__title, .overlay__discount .overlay__deliver--content .content__select .content__select--info .info__title, .overlay__success .overlay__deliver--content .content__select .content__select--info .info__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}
.overlay__deliver .overlay__deliver--content .content__select .content__select--info .info__list--item, .overlay__discount .overlay__deliver--content .content__select .content__select--info .info__list--item, .overlay__success .overlay__deliver--content .content__select .content__select--info .info__list--item {
  font-size: 14px;
  padding-left: 24px;
  position: relative;
}
.overlay__deliver .overlay__deliver--content .content__select .content__select--info .info__list--item:before, .overlay__discount .overlay__deliver--content .content__select .content__select--info .info__list--item:before, .overlay__success .overlay__deliver--content .content__select .content__select--info .info__list--item:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--text);
  left: 8px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.overlay__deliver .overlay__deliver--content .content__select .content__select--price, .overlay__discount .overlay__deliver--content .content__select .content__select--price, .overlay__success .overlay__deliver--content .content__select .content__select--price {
  font-weight: 500;
}
.overlay__deliver .overlay__deliver--content .content__select .content__select--button, .overlay__discount .overlay__deliver--content .content__select .content__select--button, .overlay__success .overlay__deliver--content .content__select .content__select--button {
  color: var(--info-500);
  font-weight: 500;
  cursor: pointer;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow);
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999999;
  animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-color: var(--white);
}
.header.sticky .container__fluid {
  border: none;
}
.header.sticky .container__fluid .header__logo {
  height: 80px;
}
.header.sticky .container__fluid .header__logo-img {
  padding-top: 26px;
}
.header .header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header .header__wrap .logo {
  height: 48px;
}
.header .header__wrap .menu {
  display: flex;
  gap: 60px;
  font-size: 16px;
}
.header .header__wrap .menu .link {
  transition: all 0.3s ease;
}
.header .header__wrap .menu .link.active {
  color: var(--brand-500);
}
.header .header__wrap .menu .link:hover {
  color: var(--brand-500) !important;
}
.header .header__wrap input[type=text], .header .header__wrap input[type=password] {
  height: 48px;
  outline: none;
  border-radius: 6px;
}
.header .header__wrap .search {
  position: relative;
  width: 256px;
}
.header .header__wrap .search i {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-inactive);
}
.header .header__wrap .user {
  display: flex;
  gap: 24px;
}
.header .header__wrap .user .user__function {
  position: relative;
  min-width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header .header__wrap .user .user__function.function:hover .popup-user {
  opacity: 1;
  visibility: visible;
}
.header .header__wrap .user .user__function .user__info {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header .header__wrap .user .user__function .user__info .user__info--name {
  font-weight: 500;
  white-space: nowrap;
}
.header .header__wrap .user .user__function .popup-user {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid var(--neutral-100);
  background: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}
.header .header__wrap .user .user__function .popup-user .popup-user__item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 24px;
}
.header .header__wrap .user .user__function .popup-user .popup-user__item.logout i {
  color: var(--error);
}
.header .header__wrap .user .user__function .popup-user .popup-user__item.logout p {
  color: var(--error);
}
.header .header__wrap .user .user__function .popup-user .popup-user__item i {
  font-size: 16px;
  min-width: 18px;
}
.header .header__wrap .user .user__function .popup-user .popup-user__item i.fa-cart-shopping {
  margin-left: -2px;
}
.header .header__wrap .user .user__function .popup-user .popup-user__item p {
  white-space: nowrap;
}
.header .header__wrap .user .user__function .popup-user .popup-user__item p.ml-2 {
  margin-left: 2px;
}
.header .header__wrap .user .user__function .popup-user .popup-user__item:hover {
  background: var(--neutral-50);
}
.header .header__wrap .user .user__function .popup-user .popup-user__item:nth-child(1) {
  border-radius: 6px 6px 0 0;
}
.header .header__wrap .user .user__function .popup-user .popup-user__item:nth-child(3) {
  border-radius: 0 0 6px 6px;
}
.header .header__wrap .user .user__function i {
  font-size: 24px;
}

.footer {
  background-color: var(--brand-500);
  padding: 36px 0;
  color: var(--white);
}
.footer .footer__wrap {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.footer .footer__wrap .footer__col {
  width: 25%;
}
.footer .footer__wrap .footer__col .footer__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.footer .footer__wrap .footer__col .footer__list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.footer .footer__wrap .footer__col .footer__list a {
  color: var(--white);
  font-weight: 400;
}
.footer .footer__wrap .footer__col .footer__list a i {
  margin-right: 10px;
  min-width: 16px;
}
.footer .footer__wrap .footer__col .footer__social {
  display: flex;
  gap: 12px;
}
.footer .footer__wrap .footer__col .footer__social .footer__social--item {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer .footer__wrap .footer__col .footer__social .footer__social--item:hover {
  background-color: var(--secondary-500);
}
.footer .footer__wrap .footer__col .footer__social .footer__social--item:hover i {
  color: var(--white);
}
.footer .footer__wrap .footer__col .footer__social .footer__social--item i {
  color: var(--primary);
  font-size: 24px;
  transition: all 0.3s ease;
}
.footer .footer__copyright {
  text-align: center;
  margin-top: 60px;
}

.breadcrumb {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-50);
}
.breadcrumb .breadcrumb__link {
  display: flex;
  gap: 6px;
  color: var(--neutral-500);
  font-weight: 500;
  font-size: 16px;
}
.breadcrumb .breadcrumb__link a {
  color: var(--neutral-500);
  transition: all 0.3s ease;
}
.breadcrumb .breadcrumb__link a:hover {
  color: var(--brand-500);
}
.breadcrumb .breadcrumb__link p {
  color: var(--brand-500);
}

:root {
  --brand-50: #eaeef2;
  --brand-100: #bdcad8;
  --brand-200: #9db0c5;
  --brand-300: #718caa;
  --brand-400: #557699;
  --brand-500: #2b5480;
  --brand-600: #274c74;
  --brand-700: #1f3c5b;
  --brand-800: #182e46;
  --brand-900: #122336;
  --neutral-50: #f3f4f5;
  --neutral-100: #dbdde1;
  --neutral-200: #c9cdd2;
  --neutral-300: #b1b6be;
  --neutral-400: #a1a8b1;
  --neutral-500: #8a929e;
  --neutral-600: #7e8590;
  --neutral-700: #626870;
  --neutral-800: #4c5057;
  --neutral-900: #3a3d42;
  --info-50: #E7F8FE;
  --info-100: #B6E9FD;
  --info-200: #92DEFC;
  --info-300: #61CFFB;
  --info-400: #42C6FA;
  --info-500: #13B8F9;
  --info-600: #11A7E3;
  --info-700: #0D83B1;
  --info-800: #0A6589;
  --info-900: #084D69;
  --secondary-400: #FFD738;
  --secondary-500: #FFCC00;
  --secondary-600: #F0C000;
  --success: #070807;
  --warning: #ffc400;
  --error: #ff3b30;
  --white: #fff;
  --text: #2A2A2A;
  --text-inactive: #b5b6b9;
  --bg-primary: #786659;
  --bg-secondary: #fafbfc;
  --bg-tertiary: #f2f3f5;
  --shadow: 8px 2px 6px rgba(0, 0, 0, 0.06);
}

@font-face {
  font-family: "SVN-Gotham Rounded";
  src: url("../../fonts/SVN-Gotham-Rounded-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham Rounded";
  src: url("../../fonts/SVN-Gotham-Rounded-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham Rounded";
  src: url("../../fonts/SVN-Gotham-Rounded-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham Rounded";
  src: url("../../fonts/SVN-Gotham-Rounded-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/***** Start Reset CSS *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

body {
  font-family: "SVN-Gotham Rounded";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  transition: all 0.3s ease;
}
a.link:hover {
  color: var(--secondary-500) !important;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.main {
  margin-top: 80px;
}

.btn {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  padding: 12px 32px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btn.btn-primary {
  background-color: var(--brand-500);
}
.btn.btn-primary:hover {
  color: var(--white);
}
.btn.btn-login {
  border: 1px solid var(--neutral-100);
  color: var(--text);
  text-transform: unset;
  display: flex;
  justify-content: center;
}
.btn.btn-login img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.btn.btn-full {
  display: block;
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-rounded {
  border: 1px solid var(--brand-500);
  color: var(--brand-500);
  font-weight: 500;
  transition: all 0.3s ease;
}
.btn.btn-rounded:hover {
  color: white;
  background-color: var(--brand-400);
  opacity: 1;
}
.btn.btn-inactive {
  background: var(--neutral-100);
  color: var(--neutral-500);
  white-space: nowrap;
}

input[type=text], input[type=password], input[type=number] {
  border: 1px solid var(--neutral-100);
  width: 100%;
  height: 48px;
  padding-left: 24px;
  border-radius: 4px;
  font-size: 16px;
}

input, select {
  outline: none;
  font-family: "SVN-Gotham Rounded";
}

::-moz-placeholder {
  font-size: 16px;
  color: var(--text-inactive);
  font-family: "SVN-Gotham Rounded";
}

::placeholder {
  font-size: 16px;
  color: var(--text-inactive);
  font-family: "SVN-Gotham Rounded";
}

.list__cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.list__cards .card {
  width: calc((100% - 90px) / 4);
  border-radius: 6px;
}
.list__cards .card:hover .card__name {
  color: var(--secondary-500);
}
.list__cards .card.feedback:hover .card__name {
  color: var(--text);
}
.list__cards .card.feedback .card__bg {
  border: 1px solid var(--neutral-100);
  border-top: transparent;
  border-radius: 0 0 6px 6px;
}
.list__cards .card.feedback .card__img {
  border-radius: 6px 6px 0 0;
}
.list__cards .card.feedback .card__img img:hover {
  transform: scale(1);
}
.list__cards .card .card__bg {
  padding: 16px;
}
.list__cards .card .card__bg.card__bg--blog {
  padding: 0;
  padding-top: 16px;
  margin-top: 0;
}
.list__cards .card .card__bg.card__bg--blog .card__info {
  display: flex;
  gap: 6px;
  justify-content: flex-start;
}
.list__cards .card .card__bg .card__info {
  margin-bottom: 10px;
}
.list__cards .card .card__bg .card__info .card__blog--circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--neutral-500);
}
.list__cards .card .card__bg .card__info .card__blog--title {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-500);
}
.list__cards .card .card__bg .card__info .card__name {
  margin: 0;
}
.list__cards .card .card__img {
  position: relative;
  line-height: 0;
  overflow: hidden;
  border-radius: 6px;
  width: 330px;
  height: 330px;
  display: block;
}
.list__cards .card .card__img .card__img--sale {
  position: absolute;
  background-color: var(--secondary-500);
  color: var(--white);
  right: 0;
  top: 24px;
  padding: 8px 36px;
  line-height: 1.5;
  border-radius: 2px;
}
.list__cards .card .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.list__cards .card .card__img img:hover {
  transform: scale(1.05);
}
.list__cards .card .card__text {
  color: #757575;
  min-height: 72px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.list__cards .card .card__name {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  display: block;
}
.list__cards .card .card__name.title {
  font-size: 20px;
  margin: 0;
}
.list__cards .card .card__view {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--neutral-500);
}
.list__cards .card .card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list__cards .card .card__info:last-child {
  margin-top: 10px;
}
.list__cards .card .card__info .card__name {
  height: 24px;
}
.list__cards .card .card__info .card-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list__cards .card .card__info .card-user .card-user__img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.list__cards .card .card__info .card__info--price {
  display: flex;
  align-items: center;
  gap: 6px;
}
.list__cards .card .card__info .card__info--price .price__new {
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
}
.list__cards .card .card__info .card__info--price .price__old {
  color: var(--text-inactive);
  font-size: 13px;
  font-weight: 500;
  text-decoration: line-through;
}
.list__cards .card .card__info .card__info--price .price__underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.list__cards .card .card__info .card__info--icon {
  cursor: pointer;
  height: 27px;
}
.list__cards .card .card__info .card__info--icon i {
  font-size: 20px;
}
.list__cards .card .card__info .card__info--rate {
  display: flex;
  align-items: center;
  gap: 8px;
}
.list__cards .card .card__info .card__info--rate i {
  color: var(--secondary-500);
}
.list__cards .card .card__info .card__info--rate .rate__times {
  font-weight: 500;
  color: var(--text-inactive);
}
.list__cards .card .card__info .card__info--rate .rate__star {
  font-size: 18px;
  line-height: 1;
  margin-right: -4px;
}
.list__cards .card .card__info .card__info--sold {
  color: var(--text-inactive);
}
.list__cards .card .card__info .card__time {
  margin-top: 0;
}
.list__cards .card .card__time {
  font-size: 14px;
  color: var(--neutral-500);
  margin-top: 10px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.list__cards .card .card__btn {
  font-size: 13px;
  font-weight: 500;
  color: #7b6b43;
  line-height: 1;
}

.mt-10 {
  margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../../assets/image/CaretDown.svg");
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 16px 16px;
  cursor: pointer;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* Start Grid */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 576px) {
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: block;
}
.d-inline-flex {
  display: flex;
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block;
  }
}

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-white {
  color: white;
}

.m-0 {
  margin: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-auto {
  margin-right: auto !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.p-0 {
  margin: 0;
}
.px-0 {
  margin-left: 0;
  margin-right: 0;
}
.px-auto {
  margin-left: auto;
  margin-right: auto;
}
.py-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.py-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.pt-0 {
  margin-top: 0;
}
.pr-0 {
  margin-right: 0;
}
.pl-0 {
  margin-left: 0;
}
.pb-0 {
  margin-bottom: 0;
}

.h-100 {
  height: 100%;
}
.h-auto {
  height: auto !important;
}

.w-100 {
  width: 100% !important;
}
.w-auto {
  width: auto;
}

.align-items-start {
  align-items: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

/* End Grid *//*# sourceMappingURL=style.css.map */