.cart {
    padding: 120px 0;
    .cart--title {
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 60px;
    }
    .cart--content {
        display: flex;
        gap: 30px;
        .cart--content__left {
            width: 870px;
            padding: 24px;
            border: 1px solid var(--neutral-100);
            border-radius: 6px;
            .cart__products {
                .cart__products--title {
                    font-size: 18px;
                    margin-bottom: 30px;
                    span {
                        font-weight: 500;
                    }
                }
                .cart__products--order {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    &:not(:last-child) {
                        padding-bottom: 24px;
                        margin-bottom: 24px;
                        border-bottom: 1px solid var(--neutral-100);
                    }
                    .order__left {
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        .order__left--img {
                            width: 120px;
                            height: 120px;
                            border-radius: 2px;
                        }
                        .order__left--content {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 120px;
                            .content__title {
                                text-transform: uppercase;
                                font-weight: 500;
                            }
                            .content__desc {
                                font-size: 14px;
                                color: var(--neutral-500);
                                text-transform: uppercase;
                                margin-top: -16px;
                            }
                            .content__info {
                                display: flex;
                                gap: 24px;
                                align-items: center;
                                .content__info--quantity {
                                    width: 36px;
                                    height: 36px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: var(--neutral-200);
                                    border-radius: 2px;
                                    font-weight: 500;
                                    letter-spacing: 0.032px;
                                }
                                .content__info--price {
                                    display: flex;
                                    gap: 6px;
                                    .price__new {
                                        font-size: 18px;
                                        font-weight: 500;
                                    }
                                    .price__old {
                                        font-size: 13px;
                                        font-weight: 500;
                                        color: var(--neutral-500);
                                        text-decoration: line-through;
                                    }
                                }
                            }
                        }
                    }
                    .order__right {
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.15);
                        }
                        i {
                            transition: all 0.3s ease;
                            font-size: 14px;
                            color: var(--neutral-500);
                        }
                    }
                }
            }
        }
        .cart--content__right {
            flex-grow: 1;
        }
    }
}