.product-detail {
    padding: 60px 0 90px 0;
    .product-detail__overview {
        display: flex;
        gap: 30px;
        .overview__preview {
            display: flex;
            flex-direction: column;
            gap: 30px;
            min-width: 90px;
            img {
                width: 100%;
                height: 90px;
                border-radius: 6px;
                cursor: pointer;
                &.active {
                    border: 3px solid var(--secondary);
                }
            }
        }
        .overview__main {
            min-width: 690px;
            height: 690px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .overview__info {
            .info__title {
                font-size: 30px;
                font-weight: 600;
                color: var(--text);
                margin-bottom: 30px;
            }
            .info__rate {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                .rate--star {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    i {
                        color: var(--secondary-500);
                    }
                    .rate__times {
                        font-weight: 500;
                        color: var(--text-inactive);
                    }
                }
                .rate--buy {
                    color: var(--text);
                    font-size: 16px;
                }
            }
            .info--key {
                color: var(--text);
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 16px;
                span {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            .info--line {
                margin: 30px 0;
                width: 100%;
                height: 1px;
                background: var(--neutral-100);
            }
            .info--price {
                display: flex;
                align-items: center;
                gap: 6px;
                .price__new {
                    color: var(--brand-500);
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 1;
                }
                .price__old {
                    color: var(--text-inactive);
                    font-size: 20px;
                    font-weight: 500;
                    text-decoration: line-through;
                    line-height: 1;
                }
            }
            .info--color {
                .color--title {
                    color: var(--text);
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 16px;
                    span {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                .color-picker {
                    display: flex;
                    gap: 16px;
                    .color-picker--type {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        position: relative;
                        &:before {
                            content: '';
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            border-radius: 50%;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%)
                        }
                        &.first {
                            border: 2px solid #ECE3DD;
                            &:before {
                                background-color: #ECE3DD;
                            }
                        }
                        &.second {
                            &:before {
                                background-color: #635656;
                            }
                        }
                        &.third {
                            &:before {
                                background-color: #000080;
                            }
                        }
                    }
                }
            }
            .info--size {
                display: flex;
                gap: 12px;
                &.mb-16 {
                    margin-bottom: 16px;
                }
                .size--title {
                    font-size: 16px;
                    color: var(--text);
                    font-weight: 500;
                }
                .size--content {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: var(--text);
                    .content--dot {
                        width: 4px;
                        height: 4px;
                        background-color: var(--text);
                        border-radius: 50%;
                        margin: 0 8px;
                    }
                }
            }
            .info--quantity {
                display: flex;
                margin-bottom: 60px;
                .quantity {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--text);
                    cursor: pointer;
                    &:nth-child(1) {
                        border-radius: 6px 0px 0px 6px;
                        background-color: var(--neutral-100);
                    }
                    &:nth-child(2) {

                    }
                    &:nth-child(3) {
                        border-radius: 0px 6px 6px 0px;
                        background-color: var(--neutral-100);
                    }
                }
            }
            .btn-rounded {
                margin-top: 12px;
                margin-bottom: 60px;
            }
            .btn {
                width: 100%;
            }
            .info--policy {
                .policy {
                    padding-left: 24px;
                    position: relative;
                    font-size: 15px;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: var(--text);
                        top: 10px;
                        left: 10px;
                    }
                    span {
                        font-weight: 500;
                    }
                    &.mb-30 {
                        margin-bottom: 30px;
                    }
                }
                .policy--note {
                    font-size: 15px;
                }
            }
        }
    }
    .product-detail--info {
        padding-top: 60px;
        .info--title {
            font-size: 30px;
            font-weight: 600;
        }
        .info--content {
            margin-top: 30px;
        }
        .info--image {
            border-radius: 2px;
            margin-top: 36px;
        }
        .info--list-images {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 30px;
            margin-top: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 2px;
            }
        }
    }
    .product-detail__comment {
        margin-top: 60px;
        padding-bottom: 60px;
        .comment__title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .comment__action {
            .comment__action--rate {
                display: flex;
                align-items: center;
                gap: 24px;
                margin-bottom: 30px;
                .rate__title {
                    font-size: 20px;
                    font-weight: 500;
                }
                .rate__star {
                    color: #FFCC00;
                    display: flex;
                    gap: 12px;
                    i {
                        font-size: 22px;
                    }
                }
            }
            .comment__action--input {
                margin-bottom: 24px;
            }
            .comment__action__upload {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
                .upload__image {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .upload__image--wrap {
                        width: 120px;
                        height: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 4px;
                        border: 1px dashed var(--neutral-200);
                        border-radius: 6px;
                    }
                    .upload__image--desc {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        .desc__title {
                            font-weight: 500;
                            font-size: 18px;
                        }
                        .desc__text {
                            color: var(--neutral-500);
                        }
                    }
                }
            }
        }
        .comment__rate {
            padding: 24px;
            width: 100%;
            border-radius: 6px;
            border: 1px solid var(--brand-100);
            background: var(--brand-50);
            display: flex;
            gap: 24px;
            align-items: center;
            .comment__rate--quantity {
                display: flex;
                align-items: flex-end;
                .quantity__vote {
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1;
                }
                .quantity__total {
                    font-size: 18px;
                    color: var(--neutral-500);
                }
            }
            .comment__rate--star {
                color: #FFCC00;
                display: flex;
                gap: 12px;
                i {
                    font-size: 22px;
                }
            }
            .comment__rate--people {
                font-size: 18px;
                color: var(--neutral-500);
            }
        }
        .comment__list {
            .comment__list--item {
                margin: 30px 0;
                &:not(:last-child) {
                    padding-bottom: 30px;
                    border-bottom: 1px solid var(--neutral-100);
                }
                .comment__header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 16px;
                    .comment__header--info {
                        display: flex;
                        gap: 12px;
                        align-items: center;
                        .info__avatar {
                            display: flex;
                            align-items: center;
                        }
                        .info__name {
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1;
                        }
                        .info--star {
                            color: #FFCC00;
                            display: flex;
                            gap: 4px;
                            margin-left: 12px;
                            line-height: 1;
                            i {
                                font-size: 16px;
                            }
                        }
                    }
                    .comment__header--time {
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--neutral-500);
                    }
                }
                .comment__text {
                    font-size: 18px;
                    margin-bottom: 16px;
                }
                .comment__image {
                    display: flex;
                    gap: 30px;
                }
            }
        }
        .comment__button {
            width: 100%;
            display: flex;
            justify-content: center;
            .btn {
                padding: 12px 24px;
            }
        }
    }
    .product-detail--related {
        .related--title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            h2 {
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
            }
            a {
                color: var(--secondary-500);
                font-weight: 500;
                transition: all 0.3s ease;
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }
        }
    }
}