.products-page {
    padding: 60px 0 120px 0;
    .products-page--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;
        .header--title {
            color: var(--text);
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
        }
        .header--select {
            padding: 16px 24px;
            width: 330px;
            font-size: 16px;
            border-radius: 6px;
            border: 1px solid var(--neutral-100);
            option {
                max-width: inherit;
            }
        }
    }
    .products-page--filter {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 30px;
        padding-bottom: 30px;
        .filter--select {
            padding: 16px 24px;
            font-size: 16px;
            border-radius: 6px;
            border: 1px solid var(--neutral-100);
        }
    }
}