.home {
    height: 100%;
    .home__section {
        .home__section--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            h2 {
                font-size: 28px;
                font-weight: 600;
                text-transform: uppercase;
            }
            a {
                color: var(--secondary-500);
                font-weight: 500;
                transition: all 0.3s ease;
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }
        }
        .home__support {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 100px;
            background-image: url(../image/banner2.png);
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 600px;
            .home__support--left {
                h2 {
                    font-size: 48px;
                    font-weight: 600;
                    margin-bottom: 16px;
                    color: var(--brand-500);
                }
                p {
                    font-size: 18px;
                }
            }
            .home__support--right {
                width: 360px;
                .support__form {
                    margin-bottom: 16px;
                    input {
                        height: 48px;
                    }
                }
            }
        }
    }
    .hero {
        background-image: url('../image/hero.png');
        height: calc(100vh - 80px);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        .hero__content {
            width: 50%;
            .hero__content--title {
                margin-bottom: 36px;
            }
            .hero__content--text {
                max-width: 600px;
                margin-bottom: 48px;
                color: var(--text);
                font-size: 20px;
            }
            .hero__content--btn {
                background: var(--brand-500);
                font-size: 18px;
            }
        }
    }
    .home__banner {
        background-image: url(../image/banner.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        position: relative;
        height: 500px;
    }
}